<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://media.tenor.com/images/83af5f43ea97ac093b0763684b4e72d8/tenor.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Steps
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ReminiscingAndRetracting">1.Reminiscing and Retracting</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/releasing">2.Releasing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="rebuilding">3.Rebuilding</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="renewing">4.Renewing</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <title>How to recover from a heartbreak</title>
</head>
<body>
&nbsp;
<div class="boxed">
<div class="text-center">
<h1>The steps onto recovering from heartbreak</h1>
<h4>a guide from Wongfu Productions</h4>
</div>
</div>
&nbsp;
<div class="boxed">
    <div class="text-center">
    <h2>We all have a story...</h2>
    </div>
    <p>The people in our lives don't always match what we imagine in our heads. In life that is okay since
    we take the initiative to compromise and learn from those differences. However there are times that maybe
    you or the other person may not feel that the relationship is no longer worth the effort. In such cases, heartbreak
    may occur and there is no cookie cutter way to navigate these emotions, but Wongfu Productions has created a wonderful
    video depicting one story of such instances. We have the protagonist Carly who has just stumbled into the heartbreak zone after
    leaving a long time relationship with her now ex-boyfriend. We see the struggle, the emotions, and the turmoil that feeds
    into her heartbreak. Any heartbreak is not easy, but this one cuts to the core.</p>
    <p>Wongfu Productions may not resolve nor depict all the emotions in your journey to conquer heartbreak, but definitely
    showcases the importance of self reflection, self love, and self growth. This how to recover from heartbreak will give you guidance
    on steps to moving forward.</p>
</div>
&nbsp;
<div class="boxed2">
    <div class ="text-center">
        <table class="table table-bordered" align ="center">
            <tr>
                <th style="text-underline: black">Steps</th>
                <th style="text-underline: black">Description</th>
            </tr>
            <tr>
                <td><a href="/ReminiscingAndRetracting">1.Reminiscing and Retracting</a>
                <td>This part is the time to heal, to cope and to relive those memories</td>
            </tr>
            <tr>
                <td><a href="/releasing">2.Releasing</a></td>
                <td>This part is to slow let go of those feelings and begin to equalize your life</td>
            </tr>
            <tr>
                <td><a href="rebuilding">3.Rebuilding</a></td>
                <td>This part is to finally take those steps forward to reshaping your life without that person</td>
            </tr>
            <tr>
                <td><a href="renewing">4.Renewing</a></td></td>
                <td>This part is about honing in on your new self and using that to step into the challenges you have in life</td>
            </tr>
        </table>
        &nbsp;
        <p>Disclaimer: Everyone moves at their own pace and goes through their own process through this journey so the time
         spent in each step may be different for everybody.</p>
    </div>
</div>
&nbsp;
<div class="boxed2">
    <div class ="text-center">
        <h2>The video</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/iOFI213MuKM" frameborder="0" allow="accelerometer;
     autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
&nbsp;






<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>