<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <style>
        body {background-image: url("https://amp.businessinsider.com/images/5a3156854aa6b5c7198b46a3-750-563.jpg")}
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="https://media.tenor.com/images/83af5f43ea97ac093b0763684b4e72d8/tenor.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Steps
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ReminiscingAndRetracting">1.Reminiscing and Retracting</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/releasing">2.Releasing</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="rebuilding">3.Rebuilding</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="renewing">4.Renewing</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <title>Renewing</title>
</head>
<body>
&nbsp;
<div class="boxed">
    <div class="text-center">
        <h1>4.Renewing</h1>
    </div>
</div>
&nbsp;
<div class=" boxed">
    <ol class="foo4">
        <li><b>You've made it</b><p>Clap your hands and pat yourself. You have gotten through a very rough patch.</p></li>
        <li><b>Focus on you</b><p>You should always put yourself as number 1 and remember that self-care is very important.</p></li>
        <li><b>Relationship</b> <p>It is not always a compromise, but rather being yourself to the fullest and sharing that with another person. Rather than
         one half and another half, but two wholes that compliment one another.</p></li>
        <li><b>Go out there</b><p>Be the best version of yourself and conquer the world.</p></li>
    </ol>
</div>
&nbsp;
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>